@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #000;
  color: #fff;
}

.intro {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-direction: column;
}

.intro video {
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  background-color: black;
}

.btn-fallback {
  position: absolute;
  bottom: 30px;
  padding: 12px 24px;
  font-size: 1rem;
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1001;
}

.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #111;
  border-bottom: 2px solid red;
}

.logo {
  height: 60px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: red;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 10px;
  color: white;
}

.hero p {
  font-size: 1.5rem;
  color: #ddd;
  margin-bottom: 30px;
}

.hero audio {
  margin-top: 20px;
  width: 100%;
  max-width: 400px;
}

.submensaje {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 0.75rem;
  color: #aaa;
  font-weight: 300;
  text-align: center;
}

.contacto {
  padding: 60px 20px;
  background-color: #111;
  text-align: center;
}

.contacto h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 10px;
}

.contacto p {
  color: #ccc;
  margin-bottom: 30px;
}

.botones-contacto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.btn-wsp:hover {
  background: #1ebe5d;
}

.btn-red {
  background: red;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-red:hover {
  background: #cc0000;
}

